body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
    text-align: center;
}

form {
    width: 60%;
    margin: 0 auto;
}

fieldset {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid gray;
}

legend {
    font-weight: bold;
}

label {
    margin-right: 10px;
}

input[type="text"], select, textarea {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
}

input[type="radio"], input[type="checkbox"] {
    margin-right: 5px;
}

button {
    padding: 10px 15px;
    margin-top: 10px;
    cursor: pointer;
}

button[type="submit"] {
    background-color: seagreen;
    color: white;
    border: none;
}

button[type="reset"] {
    background-color: red;
    color: white;
    border: none;
}